body {
    display: flex;
    justify-content: center;
    background-color: #31C6E0;
}

#conteudo_principal{
    width: 400px;
    height: 260px;
    padding: 15px;
    border-radius: 10px;
    background-color: #3C7878;
}

input {
    border-radius: 5px;
    background-color: #ACFCFC;
}

#btnCalcular {
    border-radius: 5px;
    background-color: #ACFCFC;
}